<h2><%= t('views.users.update_profile') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => 'form-horizontal'}) do |f| %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="well">
      <h3>Confirm Current Password</h3>
      <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true, :autofocus => true %>
    </div>


    <div class="well">
      <h3>Change Personal Information</h3>
      <%= f.input :email, :required => true %>
      <%= f.input :first %>
      <%= f.input :middle %>
      <%= f.input :last %>
      <%= f.input :organization %>
      <%= f.input :hourly_rate %>
      <%= f.input :message %>
    </div>
    <div class="well">
      <h3>Change Password</h3>

      <p>Hint: Leave blank if you do not want to change your current one.</p>
      <%= f.input :password, :autocomplete => "off", :required => false %>
      <%= f.input :password_confirmation, :autocomplete => "off", :required => false %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, t('views.users.update_profile') %>
      <%= link_to t(:cancel), :back %>
    </div>
<% end %>
