<h2><%= @title = t('views.users.update_profile') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => 'form-horizontal'}) do |f| %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <div class="well">
      <h3>Personal Information</h3>
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :first %>
      <%= f.input :middle %>
      <%= f.input :last %>
      <%= f.input :organization %>
      <%= f.input :hourly_rate %>
      <%= f.input :message %>
      <%= f.input :time_zone, priority: /US/ %>
    </div>

    <div class="well">
      <h3>Change Password</h3>
      <p>Hint: Leave new password blank if you do not want to change your current one.</p>
      <%= f.input :password, :autocomplete => 'off', :required => false %>
      <%= f.input :password_confirmation, :autocomplete => 'off', :required => false %>
    </div>

    <div class="well">
      <h3>Please Confirm Current Password</h3>
      <p>Hint: Saving changes to your profile requires a bit of extra security.</p>
      <%= f.input :current_password, :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('views.users.update_profile') %>
      <%= link_to t(:cancel), :back %>
    </div>
<% end %>
