<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>

    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :first %>
    <%= f.input :middle %>
    <%= f.input :last %>
    <%= f.input :organization %>
    <%= f.input :hourly_rate %>
    <%= f.input :message %>
    <%= f.input :time_zone, priority: /US/ %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
      <%= link_to t(:cancel), :back %>
    </div>

<% end %>

<%= render "devise/shared/links" %>
