<h1>Listing spans</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Project</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Billable</th>
      <th>Invoiced at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @spans.each do |span| %>
    <tr>
      <td><%= truncate span.name %></td>
      <td><%= truncate span.description %></td>
      <td><%= link_to_if(span.project.try(:name).present?, truncate(span.project.try(:name)), span.project) %></td>
      <td><%= span.start_at %></td>
      <td><%= span.end_at %></td>
      <td><%= span.billable %></td>
      <td><%= span.invoiced_at %></td>
      <td><%= link_to content_tag(:i, nil, class: 'icon-eye-open'), span, id: "span_show_#{span.id}" %>
        <%= link_to content_tag(:i, nil, class: 'icon-edit'), edit_span_path(span), id: "span_edit_#{span.id}"  %>
        <%= link_to content_tag(:i, nil, class: 'icon-trash'), span, method: :delete, id: "span_destroy_#{span.id}", data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Span', new_span_path %>
