<%= simple_form_for @user do |f| %>
<div class="form-inputs">
	<%= f.input :email, :required => true, :autofocus => true %>
	<%= f.input :first %>
	<%= f.input :middle %>
	<%= f.input :last %>
	<%= f.input :organization %>
	<%= f.input :hourly_rate %>
	<%= f.input :message %>
	<% if @user.new_record? -%>
	<%= f.input :password, :required => true %>
	<%= f.input :password_confirmation, :required => true %>
	<% end -%>
	<%= f.collection_check_boxes :roles, valid_roles, :first, :last  %>
</div>
<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>
