<%= simple_form_for @user do |f| %>
<div class="form-inputs">
	<%= f.input :email, :required => true, :autofocus => true %>
	<%= f.input :password, :required => true %>
	<%= f.input :password_confirmation, :required => true %>
	<%= f.collection_check_boxes :roles, User::ROLES.map { |r| [r, r.humanize]}, :first, :last  %>
</div>
<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>
