<footer xmlns="http://www.w3.org/1999/html">
  <p>
      <span>
		&copy; <%= t('views.navigation.copyright') %> |
        <%= active_link_to t('views.navigation.contact'), contact_path %> |
        <%= active_link_to t('views.navigation.terms'), terms_path %> |
        <%= active_link_to t('views.navigation.faq'), faq_path %>
     </span>
      <span class='pull-right'>
        <em><%= t('views.navigation.motto') %> </em>
      </span>
  </p>
</footer>