<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user_id %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @client.hourly_rate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @client.notes %>
</p>


<%= link_to t(:edit), edit_client_path(@client) %> |
<%= link_to t(:back), clients_path %>
