<h1><%= t(:tour) %></h1>

<p>The tour is in progress and will have screen shots of the major functionality areas.</p>

<%= anchor_tag('spans') %>

<h2><%= t(:time_spans) %></h2>

<%= anchor_tag('projects') %>

<h2><%= t(:projects) %></h2>

<%= anchor_tag('clients') %>

<h2><%= t(:clients) %></h2>

<%= anchor_tag('reports') %>

<h2><%= t(:reports) %></h2>

<%= anchor_tag('administration') %>

<h2><%= t(:administration) %></h2>

<%= anchor_tag('managing_users') %>

<h3><%= t(:managing_users) %></h3>

