<h1><%= @title = t('views.navigation.tour') %></h1>

<p>The tour is in progress and will have screen shots of the major functionality areas.</p>

<%= anchor_tag('spans') %>

<h2>Spans</h2>

<%= anchor_tag('projects') %>

<h2>Projects</h2>

<%= anchor_tag('clients') %>

<h2>Clients</h2>

<%= anchor_tag('reports') %>

<h2>Reports</h2>

<%= anchor_tag('administration') %>

<h2>Administration</h2>

<%= anchor_tag('managing_users') %>

<h3>Managing Users</h3>

