<h1><%=  @title = t('projects') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Client</th>
      <th>Hourly rate</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= project.user_id %></td>
      <td><%= project.client_id %></td>
      <td><%= project.hourly_rate %></td>
      <td><%= link_to content_tag(:i, nil, class: 'icon-eye-open'), project, id: "project_show_#{project.id}" %>
      <%= link_to content_tag(:i, nil, class: 'icon-edit'), edit_project_path(project), id: "project_edit_#{project.id}" %>
      <%= link_to content_tag(:i, nil, class: 'icon-trash'), project, method: :delete, id: "project_destroy_#{project.id}", data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
