<h1><%=  @title = t('views.navigation.show_projects') %></h1>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client_id %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @project.hourly_rate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @project.notes %>
</p>


<%= link_to t(:edit), edit_project_path(@project) %> |
<%= link_to t(:back), projects_path %>
