<h1><%= @title = 'Reports' %></h1>
<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Project Summary Report</h2>

    <p>A summary of hours worked for all projects between dates.</p>
    <p>Hint: Enter dates using natural language: Yesterday, 10am, May 23 2012.</p>

    <%= form_tag(report_project_summary_path, :method => :get, :class => "form-inline") do %>
        <%= select_tag(:project_id, options_for_select(@projects)) %>
        <input type="text" class="input-small" placeholder="Start Date" name="start_input" value="Yesterday">
        <input type="text" class="input-small" placeholder="End Date" name="end_input" value="Today">
        <button type="submit" class="btn">View Report</button>
    <% end -%>


  </div>
  <div class="span6">
    <h2>User Detail Report</h2>

    <p>A detailed report showing the hours users have worked on each project between dates. </p>
    <p>Hint: Enter dates using natural language: Yesterday, 10am, May 23 2012.</p>

    <%= form_tag(report_user_project_detail_path, :method => :get, :class => "form-inline") do %>
        <%= select_tag(:user_id, options_for_select(@users)) %>
        <input type="text" class="input-small" placeholder="Start Date" name="start_input" value="Yesterday">
        <input type="text" class="input-small" placeholder="End Date" name="end_input" value="Today">
        <button type="submit" class="btn">View Report</button>
    <% end -%>


  </div>
</div>